body {
	background-color: yellow;
	

}

h1 {
	padding: 20px; 
	font-weight: bold; 
}

.title {
	text-align: center;
	font-size: 50px;
	font-family: 'Indie Flower', cursive;
}

.panel-heading {
	font-size: 20px;
}

.image {
	width: 200px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

label {
	font-size: 20px; 
}

.panel-body {
	height: 50% !important;
	background-color: #614126;
	color: yellow; 
	font-size: 20px; 
}

.input {
	text-align: center;
}

form {
	display: block;
	margin-left: auto;
	Margin-right: auto; 
	
}

.burgerDiv {
	font-family: 'Noticia Text', serif;
}

.burgerBox {
	border: 2px solid black !important;
	font-family: 'Noticia Text', serif;
}

.footer, .heading {
	background-color: #c3834c !important; 
	color: beige !important;  
}

button {
	background-color: #4ca64c; 
}